name: FM_Spider_test

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK
      uses: actions/setup-java@v3.11.0
      with:
        java-version: '18'
        distribution: 'temurin'
        
    - name: Clone project
      run: |
        rm -rf project
        rm -rf jar/custom_spider.jar
        git clone --recurse-submodules https://github.com/FongMi/CatVodSpider project
        #git clone --recurse-submodules https://github.com/xyzjhe/CatVodSpider project
      
    - name: Customize Spider
      working-directory: ./project
      run: |
         sed -i 's/gradle-7.4.2-all/gradle-7.5-bin/g' gradle/wrapper/gradle-wrapper.properties

         sed -i 's/www.wogg.net/www.wogg.link/g' app/src/main/java/com/github/catvod/spider/Wogg.java
         sed -i 's/www.aliyundrive.com/(www.alipan.com|www.aliyundrive.com)/g' app/src/main/java/com/github/catvod/spider/Zhaozy.java
         sed -i 's/api2.rinhome.com/112.124.0.131:20000/g' app/src/main/java/com/github/catvod/spider/Jianpian.java
         
         cp ../app/src/main/java/com/github/catvod/spider/Wobg.java app/src/main/java/com/github/catvod/spider/Wobg.java
         cp ../app/src/main/java/com/github/catvod/spider/Wnlg.java app/src/main/java/com/github/catvod/spider/Wnlg.java
         cp ../app/src/main/java/com/github/catvod/spider/Wwgg.java app/src/main/java/com/github/catvod/spider/Wwgg.java
         cp ../app/src/main/java/com/github/catvod/spider/Tudou.java app/src/main/java/com/github/catvod/spider/Tudou.java
         cp ../app/src/main/java/com/github/catvod/spider/Duoduo.java app/src/main/java/com/github/catvod/spider/Duoduo.java
         
         cp ../app/src/main/java/com/github/catvod/spider/Nongm.java app/src/main/java/com/github/catvod/spider/Nongm.java
         cp ../app/src/main/java/com/github/catvod/spider/FengGo.java app/src/main/java/com/github/catvod/spider/FengGo.java
         #cp ../app/src/main/java/com/github/catvod/spider/Douban.java app/src/main/java/com/github/catvod/spider/Douban.java
         #cp ../app/src/main/java/com/github/catvod/spider/Dm84.java app/src/main/java/com/github/catvod/spider/Dm84.java
         #cp ../app/src/main/java/com/github/catvod/spider/AppYsV2.java app/src/main/java/com/github/catvod/spider/AppYsV2.java

         #补回Dovx
         curl -L https://raw.githubusercontent.com/FongMi/CatVodSpider/56e60854cfc91282548e2686e7c79e00bf11987a/app/src/main/java/com/github/catvod/spider/Dovx.java > app/src/main/java/com/github/catvod/spider/Dovx.java

         #增加zhixc爬虫
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/Anime1.java > app/src/main/java/com/github/catvod/spider/Anime1.java
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/Live2Vod.java > app/src/main/java/com/github/catvod/spider/Live2Vod.java
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/LocalFileV2.java > app/src/main/java/com/github/catvod/spider/LocalFileV2.java
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/NongMing.java > app/src/main/java/com/github/catvod/spider/NongMing.java
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/PiaoHua.java > app/src/main/java/com/github/catvod/spider/PiaoHua.java
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/SP360.java > app/src/main/java/com/github/catvod/spider/SP360.java
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/SixV.java > app/src/main/java/com/github/catvod/spider/SixV.java
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/Voflix.java > app/src/main/java/com/github/catvod/spider/Voflix.java
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/XingYiYing.java > app/src/main/java/com/github/catvod/spider/XingYiYing.java
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/Yj1211.java > app/src/main/java/com/github/catvod/spider/Yj1211.java
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/IQIYI.java > app/src/main/java/com/github/catvod/spider/IQIYI.java
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/MGTV.java > app/src/main/java/com/github/catvod/spider/MGTV.java
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spiderCs1369.java > app/src/main/java/com/github/catvod/spider/Cs1369.java
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/DyGang.java > app/src/main/java/com/github/catvod/spider/DyGang.java
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/Xunlei8.java > app/src/main/java/com/github/catvod/spider/Xunlei8.java
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/PushAgent.java > app/src/main/java/com/github/catvod/spider/PushAgent.java
         
         #增加mymine爬虫&smb
         #curl -L https://raw.githubusercontent.com/mymine/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/Smb4nas.java > app/src/main/java/com/github/catvod/spider/Smb4nas.java
         #curl -L https://raw.githubusercontent.com/mymine/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/SmbProxy.java > app/src/main/java/com/github/catvod/spider/SmbProxy.java
         
         #Douban用回旧版本
         #curl -L https://raw.githubusercontent.com/zhixc/CatVodTVSpider/main/app/src/main/java/com/github/catvod/spider/Douban.java > app/src/main/java/com/github/catvod/spider/Douban.java
         #curl -L https://raw.githubusercontent.com/qlql765/TVJar_by_zhixc/test/app/src/main/java/com/github/catvod/spider/Douban.java > app/src/main/java/com/github/catvod/spider/Douban.java

         #简体化阿里云盘&alist&webdav
         sed -i 's/預設/预设/g;s/名稱/名称/g;s/時間/时间/g' app/src/main/java/com/github/catvod/spider/AList.java
         sed -i 's/預設/预设/g;s/名稱/名称/g;s/時間/时间/g' app/src/main/java/com/github/catvod/spider/WebDAV.java  
         sed -i 's/轉存原畫/转存原画/g;s/分享原畫/分享原画/g;s/代理普畫/代理普画/g' app/src/main/java/com/github/catvod/spider/Ali.java
         sed -i 's/轉存原畫/转存原画/g;s/分享原畫/分享原画/g;s/代理普畫/代理普画/g;s/阿里雲盤/阿里云盘/g;s/請輸入Token/请輸入Token/g;s/請使用阿里雲盤 App 掃描二維碼/请使用阿里云盘 App 扫描二维码/g;s/來晚啦，該分享已失效/来晚了，木有了，换一个/g' app/src/main/java/com/github/catvod/api/AliYun.java

                 
         #del lao six
         #rm -rf app/src/main/java/com/github/catvod/spider/Doll.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Eighteen.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Jable.java
         #rm -rf app/src/main/java/com/github/catvod/spider/JavDb.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Miss.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Supjav.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Hanime.java
                                 
    - name: Build the Jar
      working-directory: ./project
      run: |        
         chmod +x gradlew
         ./gradlew assemblerelease --build-cache --parallel --daemon --warning-mode all
         
    - name: Customize Spider Jar
      working-directory: ./project
      run: |        
         rm -rf jar/custom_spider.jar
         rm -rf jar/spider.jar/original/META-INF
         curl -L https://github.com/iBotPeaches/Apktool/releases/download/v2.7.0/apktool_2.7.0.jar > jar/3rd/apktool_2.7.0.jar
         java -jar jar/3rd/baksmali-2.5.2.jar d app/build/intermediates/dex/release/minifyReleaseWithR8/classes.dex -o jar/Smali_classes
         mkdir -p jar/spider.jar/smali/com/github/catvod/
         mv jar/Smali_classes/com/github/catvod/spider jar/spider.jar/smali/com/github/catvod/         
         java -jar jar/3rd/apktool_2.7.0.jar b jar/spider.jar -c
         mv jar/spider.jar/dist/dex.jar ../jar/custom_spider.jar
         #md5=($(md5sum ../jar/custom_spider.jar))
         echo $(md5sum ../jar/custom_spider.jar | awk '{print $1}') > ../jar/custom_spider.jar.md5
         
    - name: Upload APK
      uses: actions/upload-artifact@v3.1.2
      with:
        name: Spider
        path: ./jar/custom_spider.jar

    - name: Update spider jar      
      uses: EndBug/add-and-commit@v9.1.3
      with:
        default_author: github_actions
        message: 'update spider jar'
        add: "['./jar/custom_spider.jar', './jar/custom_spider.jar.md5']"        
